@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/AvenirLTStd-Black.eot');
    src: url('../fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Black.woff') format('woff'),
        url('../fonts/AvenirLTStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/AvenirLTStd-Roman.eot');
    src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
        url('../fonts/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost-Black';
    src: url('../fonts/Jost-Black.eot');
    src: url('../fonts/Jost-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jost-Black.woff2') format('woff2'),
        url('../fonts/Jost-Black.woff') format('woff'),
        url('../fonts/Jost-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost-Bold';
    src: url('../fonts/Jost-Bold.eot');
    src: url('../fonts/Jost-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jost-Bold.woff2') format('woff2'),
        url('../fonts/Jost-Bold.woff') format('woff'),
        url('../fonts/Jost-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost-SemiBold';
    src: url('../fonts/Jost-SemiBold.eot');
    src: url('../fonts/Jost-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jost-SemiBold.woff2') format('woff2'),
        url('../fonts/Jost-SemiBold.woff') format('woff'),
        url('../fonts/Jost-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.eot');
    src: url('../fonts/Jost-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jost-Regular.woff2') format('woff2'),
        url('../fonts/Jost-Regular.woff') format('woff'),
        url('../fonts/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Font Settings */
.fontAvenBlack{
    font-family: 'Avenir-Black', sans-serif;
}
.fontAvenRoman{
    font-family: 'Avenir-Roman', sans-serif;
}
.fontJostBlack{
    font-family: 'Jost-Black', sans-serif;
}
.fontJostBold{
    font-family: 'Jost-Bold', sans-serif;
}
.fontJostSemi{
    font-family: 'Jost-SemiBold', sans-serif;
}
.fontJost{
    font-family: 'Jost', sans-serif;
}
.line66{
    line-height: 66px;
}
/* Navbar */
#headerSec{
    position: fixed;
    overflow: hidden;
    top: 0px;
    z-index: 1000;
}
#header div nav ul li a{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    padding-left: 130px;
    font-weight: 300;
}
#headerSec li a{
    color: #000;
}
.hero-p{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    width: 80%;
}
#headerSec li a.active, #headerSec li a:hover, #headerSec li a:focus{
    color: #128347;
}
/* end of Navbar */
/* solutionsec */

#solutionSec{
    margin-top: 115px;
}
#solModBox{
    height: 558px;
    border-radius: .5em;
    position: absolute;
    top: 190px;
    left: 0px;
}
#solModBox h1{
    margin-top: 60px;
    text-align: left;
    margin-left: 120px;
}
#solModBox p{
    margin-top: 20px;
    margin-left: 120px;
    text-align: left;
    width: 50%;
}
#solModBox a.btn{
    margin-top: 20px;
    margin-left: 120px;
    text-align: left;
    font-family: 'Avenir-Roman', sans-serif;
    font-weight: 300;
}
.btn-success {
    background-color: #128347;
    padding: 10px 30px;
}
.btn-success:hover{
    background-color: #128347;
    border: 1px solid #128347;
    box-shadow: 1px 1px 8px 3px rgba(255,255,255,0.5);
    -webkit-box-shadow: 1px 1px 8px 3px rgba(255,255,255,0.5);
    -moz-box-shadow: 1px 1px 8px 3px rgba(255,255,255,0.5);
}
#solution{
    background: url('../images/solutionbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

#ourSol{
    padding-top: 17px;
    margin-bottom: 80px;
}
#solution p{
    margin-bottom: 2rem;
    font-family: 'Jost-SemiBold', sans-serif;
    font-size: 1.5em;
    padding-left: 38px;
}
.bigFont{
    font-size:25px;
    color: #46A55C;
    float: left;
}
/* end of solutionsec */
/* how it works */
#simple .container{
    background: url('../images/simple-steps3.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 85px;
}
#simple h1{
    padding-top: 115px;
    margin-bottom: 70px;
}
.bg-gradient {
    /* background: linear-gradient(178.4deg, #FFFFFF 0%, #EFEFEF 100%); */
    background-color: #fafafa;
  }
.sec2{
    margin-top: -42px;
}
.lastCircle{
    background-color: white;
    border-radius: 50%;
}
.lastCircle h4{
    padding-bottom: 30px;
}
#why{
    background: url('../images/BgWhyUs@1x.jpg ');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 245px;
}
#why h4{
    padding: 0px 20px;
    margin-top: 35px;
    margin-bottom: 35px;
}
#why p{
    padding: 0px 40px;
    font-family: 'Jost', sans-serif;
    line-height: 1.25em;
    font-size: 20px;
}
.why .box img{
    transform: scale(1);
    transition: 0.5s;
}
.why .box:hover img{
    transform: scale(.75);
}
.colorWhite{
    color: white!important;
}
/* end how it works */
#expertise{
    margin-top:-200px;
    padding-bottom: 40px;
}
.greenBox{
    background-color: #128347;
    border-radius: .5em;
    padding: 55px 0px;
    box-shadow: 0px 8px 33px 3px rgb(0 0 0 / 29%);
    -webkit-box-shadow: 0px 8px 33px 3px rgb(0 0 0 / 29%);
    -moz-box-shadow: 0px 8px 33px 3px rgba(0,0,0,0.29);
}
.greenBox h1{
    margin-top: 30px;
    margin-bottom: 50px;
}
.greenBox h4{
    padding: 0px 100px;
    margin-bottom: 30px;
}
#about{
    background: url('../images/bgAboutUs@2x.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 305px;
}
#about h1{
    margin-top: 45px;
    margin-bottom: 60px;
}
#about h4{
    margin-bottom: 25px;
}
#contact{
    background-color: #065028;
}
#contact h1{
    margin:35px 0px;
}
#contact h4{
    margin-top:10px;
    margin-bottom: 50px;
}
.contacttextbox{
    border: none;
    background: transparent;
    border-bottom: 1px solid #118045;
    border-radius: 0px;
    color: white!important;
}
span.contacttextbox{
    color:#118045!important;
}
.contacttextbox:active, .contacttextbox:focus{
    background: transparent;
}

input::placeholder {
    color: #fff!important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white!important;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white!important;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: white!important;
}

.marginbot100{
    margin-bottom: 100px;
}
.marginbot100 button{
    padding:7px 35px;
}
.darkgreen{
    background-color: #03411b;
    border-radius: .5em;
    padding: 36px 0px 20px 0px;
}
.darkgreen p{
    line-height: 32px;
}
.darkgreen img{
    width: auto;
    height: 21px;
    margin-bottom: 15px;
}
.spaceBond{
    height: 50px;
}
.ligthGreen{
    color:#54bd6e;
}
.ligthGreen a{
    color:#54bd6e;
}
.ligthGreen a:hover{
    color:#43d367;
}
input[type="text" i] {
    color: white;
}
.marginbot100 input:focus{
    border-color: green;
}
#copyright{
    padding: 0px;
}
#copyright p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    color:#4B4B4B;
}
.z-index900{
    border-radius: .5em;
    padding-top: 45px;
    padding-bottom: 40px;
}
.bg-opacity-75 {
    --bs-bg-opacity: 0.75;
}
.z-index100{
    z-index: 100;
    margin-top: 20px;
}
#hero{
    background: url('../images/Hero_imageMerge.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    margin-top: 85px;
}
#hero .z-index900{
    padding-top: 115px;
}
#hero .z-index100{
    height: 17vh;
}
/* desktop and mobile integration */
@media screen and (max-width: 1921px) {
    .hero {
        height: 100%;
    }
    #lastSimple{
        margin-left: 37%;
    }
    #solution{
        height: 49em;
    }
}
@media screen and (max-width: 1601px) {
    #solution{
        height: 41em;
    }
}
@media screen and (max-width: 1441px) {

}
@media screen and (max-width: 1367px) {
    #why p{
        font-size: 18px;
    }
    #why h4{
        font-size: 1.25em;
    }
    .hero-p{
        width: 90%;
        font-size: 17px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .z-index100 {
        margin-top: 0px;
    }
    .hero h1 {
        font-size: 2.5em;
    }
    .z-index900 {
        top: 190px;
        padding-top: 40px;
        padding-bottom: 35px;
    }
    .values .box {
        padding: 8px;
    }
    #simple h1 {
        padding-top: 75px;
    }
    #solution p {
        font-size: 1.25em;
    }
    .h4, h4 {
        font-size: 1.25rem;
    }
    #simple {
        padding-bottom: 50px;
    }
    .sec3{
        margin-top: 25px;
    }
    .line66 {
        line-height: 55px;
    }
}
@media screen and (max-width: 1025px) {
    #header div nav ul li a {
        padding-left: 80px;
    }
}
@media screen and (max-width: 768px) {
    .z-index900 {
        position: inherit;
        padding-left: 0px;
        padding-right:10px;
        padding-top: 0px;
    }
    .z-index900 h1{
        font-size: 26px;
        line-height: 42px!important;
        padding: 5px 10px;
    }
    .greenBox h4 {
        padding: 0px 10px;
        margin-bottom: 30px;
    }
    .about p {
        padding: 0px 3px;
    }
    #lastSimple{
        padding: 0px 50px;
        margin-left: 0;
    }
    .hero-p{
        width: 100%;
        padding-left: 10px;
    }
    #header div nav ul li a{
        padding-left: 40px;
    }
  }